/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed

.DS_Store
package.json
vite.config.js
package-lock.json
bun.lockb

# lock
install.lock
composer.lock

# R&D File
/config/plugins.php
/config/themes.php
/config/markets.php
/plugins/*
/themes/*
/Website-Engine
composer-dev.json
fresns-dev.json
