*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

# lock
package.json
vite.config.js
package-lock.json
bun.lockb
install.lock
composer.lock

# R&D File
/config/plugins.php
/config/themes.php
/config/markets.php
/plugins/*
/themes/*
/Website-Engine
composer-dev.json
fresns-dev.json
