/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/.phpunit.cache
/.fleet
/.idea
/.vscode
.env
.env.backup
.env.production
.phpunit.result.cache
.phpstorm.meta.php
.devcontainer
.DS_Store
_ide_helper.php
_ide_helper_models.php
Homestead.json
Homestead.yaml
auth.json
package.json
package-lock.json
npm-debug.log
yarn-error.log
install.lock
composer.lock

# R&D File
/config/plugins.php
/config/themes.php
/config/markets.php
/extensions/*
fresns-dev.json
